@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.color1 {
    color: #c48c70;
}

.color2 {
    color: #d1b186;
}

.color3 {
    color: #e4d1aa;
}

.color4 {
    color: #eaead6;
}

.color5 {
    color: #f3f3f3;
}

body {
    background-color: #ebebe4 !important;
    font-family: 'Nanum Gothic', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    line-height: 44px;
    margin: 0 0 12px;
    text-align: center
}

.navbar, .dropdown-menu {
    background-color: #c1b09d !important;
}

.card-body {
    background-color: #f7fafb !important;
}

.card-header {
    background-color: #d1b186 !important;
}

.btn-primary, .btn-success {
    background-color: #9e724e !important;
    border: none;
    box-shadow: none;
}

.descript {
    height: 10vh;
    font-style: italic;
}

.titulo {
    font-size: medium;
    font-weight: bold;
}